/* CSS */
p {
  color: blue;
  font-size: 16px;
  margin: 15px;
}

#text {
  color: red;
}

.container p {
  color: green;
  font-weight: bold;
}

div > p {
  font-size: 21px;
}

body p {
  font-size: 14px;
  margin-left: 0;
}
