body {
  font-family: "DejaVu Sans Mono", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

h1, h2 {
  text-align: center;
  color: #000000;
  font-family: "DejaVu Sans Mono", serif;
  font-weight: normal;
}

p {
  line-height: 1.6;
  margin: 0 15px;
  color: #000000;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

nav {
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 20px 0;
  margin: 10px;
}

.burger{
  display: none;
}

#about {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  background-color: rgba(142, 212, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

#skills {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  margin: 30px;
}

.progress-bar {
  margin: 10px auto;
  width: 80%;
}

.progress {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-value {
  background-color: #28a745;
  height: 20px;
  border-radius: 5px 0 0 5px;
}

#projects {
  /*background-color: #ccc;*/
}

#project-container {
  display: flex;
}

.project-card {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 70px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.project-card h3 {
  margin-top: 0;
}

#contact {
  margin-right: 30px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#chat-messages {
  border: 1px solid #adacb0;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 300px;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

form label {
  margin-bottom: 5px;
}

form input[type="text"], form input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

/* Media Query für Bildschirme mit max. 800px Breite */
@media (max-width: 800px) {
  nav ul li {
    margin: 5px 0;
  }
  .menu {
    display: block;
    justify-content: space-between;
  }

  #navi{
    display: block;
  }
  .menu{
    display: block;
  }
  #skills {
    margin: 30px;
    margin-bottom: 10px;
  }


  .progress-bar, form {
    width: 90%;
  }

  #project-container {
    display: block;
    padding: 0px;
  }

  #contact {
    margin: 30px;
  }
}

/* Media Query für Bildschirme mit max. 400px Breite */
@media (max-width: 400px) {
  h1, h2 {
    font-size: 1.2rem;
  }

  nav ul li {
    display: block;
    margin: 5px 0;
  }

  #navi {
    display: flex; /* Standardmäßig ausgeblendet */
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .menu{
    display: none;
  }

  .menu.show {
    display: block;
  }

  .burger:active + .menu,
  .menu:hover,
  .menu:focus-within {
    display: block;
  }


  .burger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }


}
