
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #660d20;
  background-image: url("90s-wallpaper.jpg");
}

h1, h2 {
  text-align: center;
  color: #333;
}

p {
  line-height: 1.6;
  margin: 0 15px;
}

nav {
  /*background-color: #333;*/
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 20px 0;
  margin: 10px;
}

#about {
  background-color: rgba(0, 167, 255, 0.98);
}

#skills {
  /*background-color: #e2e2e2;*/
}

#projects{
  /*background-color: #ccc;*/
}

#project-container {
  display: flex;
  justify-content: space-evenly;


}

#contact {
  /*background-color: #ddd;*/
}

.progress-bar {
  margin: 10px auto;
  width: 80%;
}

.progress {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-value {
  background-color: #28a745;
  height: 20px;
  border-radius: 5px 0 0 5px;
}

.project-card {
  background-color: #fff;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.project-card h3 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

form label {
  margin-bottom: 5px;
}

form input[type="text"], form input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

@media (max-width: 800px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }

  .progress-bar, form {
    width: 90%;
  }
}

@media (max-width: 400px) {
  h1, h2 {
    font-size: 1.2rem;
  }

  .progress-bar, form {
    width: 100%;
  }
}
