
body {
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 20px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(224, 220, 220);
    padding-bottom: 15px;
}

header > h1{
    margin: 0;
    font-family:"Playfair Display";
    font-weight: 400;
    color: rgb(43, 43, 43);
    font-size: 40px;
}

header > a{
    text-decoration: none;
    color:  rgb(95, 95, 95);
    font-family: Arial;
}

header > button{
    color: rgb(85, 85, 85);
    background-color: white;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border: 1px solid rgb(85, 85, 85);
}

p {
    font-family: Arial;
}

button:hover {
    background: rgb(85, 85, 85);
    color: white;
}

.menu-stripe {
    padding: 20px 30px;
}
.menu-stripe ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu-stripe ul li a {
    font-family: Arial;
    color: grey; 
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap:50px; 
}

.top-banner {
    grid-column: 1 / 5;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 30px;
    background-color: rgb(66, 66, 75);
    color: white;
}

.top-banner h2{
    font-family:"Playfair Display";
    font-size: 32px;
    font-weight: 400;
}

#box_1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#box_2{
   grid-column: 3 / 5;
   grid-row: 2 / 3;
}

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
}

.box-content {
    order: 1;
    width: 60%;
    padding: 20px;
}

.thumbnail {
    order: 2;
    display: grid;
    align-items: center;
    justify-items: center;
    width:40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #6c757d;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.main_content {
    display: flex;
    gap: 20px;
}

main {
    flex: 3;
}

main > hr {
    border: 1px solid lightgray;
    margin-right: 10px;
    
}

.sticky {
    position: sticky;
    top: 10px;
}

aside {
    flex: 1;
    margin-top: 20px;
    padding: 0px;
    padding-top: 0px;
}

.archive ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}

.about {
    background-color: rgb(230, 230, 230);
    padding: 5px;
    padding-bottom: 20px;
}

.about h3 {
    font-family:"Playfair Display";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}

.about p{
    margin: 0;
    padding: 10px;
    padding-bottom: 15px;
}

blockquote{
    font-family: Arial;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: lightgrey;
    margin-top: 20px;
    margin: 0px;
    margin-left: -40px;
    margin-right: -40px; 
    width: calc(100% + 80px); 
}

#blue {
    color: #007bff;
}

#green {
    color: #28a745;
}

h2 {
    font-family:"Playfair Display";
    font-weight: 400;
    font-size: 32px;
    margin: 10px 0;
}

h3 {
    font-family:"Playfair Display";
    font-weight: 400;
    font-size: 28px;
}

h4 {
    font-family:"Playfair Display";
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

.date {
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



